{% extends "layout.html" %}
{% block content %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="{{url_for('home')}}">Smart Class</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href='#' id='createteambtn' onClick='toggle_class_creator()'>Create a team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='#' id='jointeambtn' onClick='toggle_class_join()'>Join a team</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Sidebar -->
<div class="sidebar w3-sidebar w3-bar-block w3-animate-left" id="mySidebar">
  <a class="w3-bar-item w3-button selected_item" name='activity'id=activity><img width=35 src="{{url_for('static', filename='imgs/notification-icon.png')}}"/>Activity</a>
  <a class="w3-bar-item w3-button" name='chats'id=chats><img width=35 src="{{url_for('static', filename='imgs/chat-icon.png')}}"/>Chat</a>
  <a class="w3-bar-item w3-button" name='classrooms' id=classrooms><img width=35 src="{{url_for('static', filename='imgs/group-icon.png')}}"/>Rooms</a>
  <a class="w3-bar-item w3-button" name=meetings id=meetings><img width=35 src="{{url_for('static', filename='imgs/meetings-icon.png')}}"/>Meetings</a>
</div>
<!--Page content-->
<div id=app_container>
</div>
<!-- The Modal -->
<div id="teammodal" class="w3-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>CLASSROOM CREATION</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('teammodal').style.display='none'">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id=teamcreationform method='POST'>
        <div class="modal-body">
            <div class='alert' id="notice">
              ..
            </div>
            <input type="text" id="teamname" placeholder="give your team a name" class="form-control"/> <br>
            <textarea id=teamdescription placeholder="let people know what this team is all about" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
          <input type=submit class='btn btn-primary'>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="w3-modal" id="joinclass_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Join a classroom</h4>
        <button type="button" class="close" data-dismiss="modal" onclick="document.getElementById('joinclass_modal').style.display='none'">&times;</button>
      </div>
      <div class='alert' id=join_notice>
        
      </div>
      <form method="POST" id=joinclassform>
        <div class="modal-body">
          <input type="text" id='classroom_code' placeholder="write down the class's code. Example: 1024#QBCDEACD" class="form-control"/>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" data-dismiss="modal" value='Join'>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $.ajax({url: '/app/activity', type: 'POST'}).done(function (data) {
    $('#app_container').html(data);
  });
</script>

<!-- Client scripts -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script src="{{url_for('static', filename='js/classroom.js')}}"></script>
<script src="{{url_for('static', filename='js/chat.js')}}"></script>

{% endblock content %}