<!DOCTYPE html>
<html>
<head>
	<title> Smart class - {{title}} </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
</head>

<body>

    <section class="bgImage">
        <div class="nav_bar">
            <h1> Smart Class <span style=" font-size: 30px; color: red; margin: 0; padding: 0;"> . </span> </h1>
            <nav>
                <ul>
                    <li><a href="#"> Home </a></li>
                    {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('login') }}"> Login </a></li>
                        <li><a href="{{ url_for('register') }}"> Sign Up </a></li>
                    {% else %}
                        <li><a href="{{ url_for('__app__') }}">OPEN SMARTCLASS</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        <div class="overay">
            <div class="text">
                <h1> Smart  <span> Class </span></h1>
                <p><i> “eLearning doesn't just "happen"! It requires careful planning and implementation.”  </i><br><span>~~Christopher Palm</span></p>
            </div>
        </div>
        
    </section>
</body>
</html>
