{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
	<div class='container'>
		<div class='card'>
			<div class='card-body'>
				<form method='POST' action=''>
					<fieldset class='form-group'>
						{{form.hidden_tag()}}
						<div class='form-group'>
							{{form.email.label(class="form-control-label")}}
							{{form.email(class="form-control form-control-lg")}}
						</div>
						<div class='form-group'>
							{{form.password.label(class="form-control-label", placeholder='test')}}
							{{form.password(class="form-control form-control-lg")}}
						</div>
						<div class='form-group'>
							{{form.remember.label(class="form-control-label")}}
							{{form.remember}}
						</div>
						<div class='form-group'>
							{{form.submit(class="btn btn-outline-info")}}
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}